:root {
  --main-bg-color: #ffffff;
  --header-color: #ffffff;
  --primary-text-color: #212121;
  --primary-color: #ffffff;
  --secondary-text-color: #757575;
  --hero-title-color: #ffffff;
  --team-bg-color: #f5f4fa;
  --first-btn-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --accent-color: #2196f3;
  --icon-color: #afb1b8;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--main-bg-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.about {
  display: none;
}
@media screen and (min-width: 480px) {
  .about {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .about {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    display: block;
  }
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  display: block;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo--light {
  color: var(--primary-color);
}
.logo--dark {
  color: #000;
}

.btn {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  text-align: center;
  letter-spacing: 0.06em;
  border: 0;
  color: var(--primary-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.soc-list {
  display: flex;
  justify-content: center;
}

.soc-list__item + .soc-list__item {
  margin-left: 10px;
}

.soc-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--animation);
}

.soc-list__link--light-bg {
  background-color: var(--main-bg-color);
}

.soc-list__link--dark-bg {
  background-color: rgba(255, 255, 255, 0.1);
}

.soc-list__icon--grey {
  fill: var(--icon-color);
}

.soc-list__icon--white {
  fill: var(--primary-color);
}

.soc-list__link:hover,
.soc-list__link:focus .soc-list__icon {
  background-color: var(--accent-color);
}

.soc-list__link:hover .soc-list__icon {
  fill: var(--primary-color);
}

.soc-list__link:focus .soc-list__icon {
  fill: var(--primary-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms, visibility 300ms ease-in-out;
}

.modal {
  position: absolute;
  width: 100%;
  min-height: 609px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    min-height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal__btn {
  margin: 0 auto;
  padding: 10px 55px;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal__close-icon {
  fill: #000;
  transition: transform var(--animation);
}
.modal__close-icon:hover {
  fill: var(--accent-color);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.form__field {
  margin-bottom: 10px;
}
.form__label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}
.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 15px;
  outline: none;
  padding-left: 42px;
  transition: border-color var(--animation);
}
.form__input:focus {
  border-color: var(--accent-color);
}
.form__wrap {
  position: relative;
}
.form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--animation);
}
.form__input:focus + .form__icon {
  fill: var(--accent-color);
}

.comment__label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}
.comment__textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  outline: none;
  margin-bottom: 20px;
}
.comment__textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  margin-bottom: 30px;
}
.checkbox__text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .checkbox__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    align-items: center;
  }
}
.checkbox__icon {
  display: flex;
  align-items: center;
}
.checkbox__icon--enabled {
  display: none;
  margin-right: 7px;
}
.checkbox__icon--disabled {
  margin-right: 7px;
}

.checkbox__input:focus + .checkbox__text span {
  fill: var(--accent-color);
}

.checkbox__input:checked + .checkbox__text .checkbox__icon--enabled {
  display: block;
}

.checkbox__input:checked + .checkbox__text .checkbox__icon--disabled {
  display: none;
}

.policy-link {
  margin-left: 4px;
  color: var(--accent-color);
}

.header {
  background-color: var(--header-color);
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.header__logo span {
  color: var(--accent-color);
}

.navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
  }
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  color: var(--primary-text-color);
  transition: var(--animation);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}
.site-nav__link--current {
  color: var(--accent-color);
}
.site-nav__link--current::after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  bottom: -1px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .header-contacts {
    margin-left: auto;
  }
}

.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }
}
.contacts__list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
@media screen and (min-width: 768px) {
  .contacts__list {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__list {
    flex-direction: row;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}
.contacts__link {
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  transition: var(--animation);
}
.contacts__link:hover, .contacts__link__link:focus {
  color: var(--accent-color);
}
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.menu-open-btn {
  display: block;
  border: none;
  background-color: transparent;
  margin-left: auto;
  padding: 0;
  transition: var(--animation);
}
.menu-open-btn:hover, .menu-open-btn:focus {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-open-btn {
    display: none;
  }
}

.menu-close-btn {
  display: block;
  border: none;
  background-color: transparent;
  margin-left: auto;
  padding: 0;
  transition: var(--animation);
}
.menu-close-btn:hover, .menu-close-btn:focus {
  fill: var(--accent-color);
}

.menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--main-bg-color);
  width: 100vw;
  height: 100%;
  transition: var(--animation);
}
@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}
.menu .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 15px 48px 40px;
  overflow-y: auto;
  height: 100%;
}

.menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}
.menu-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: var(--animation);
}
.menu-list__link:hover, .menu-list__link:focus {
  color: var(--accent-color);
}

.menu-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: 64px;
}
.menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}
.menu-contacts__link-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.menu-contacts__link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.menu-soc__list {
  display: flex;
}
.menu-soc__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.menu-soc__item:not(:first-child) {
  margin-left: 10px;
}
.menu-soc__link {
  font-size: calc((100vw - 320px) / 160 * 6 + 12px);
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-right: 10px;
}
@media screen and (min-width: 480px) {
  .menu-soc__link {
    font-size: 18px;
  }
}

.hero {
  background-color: #2f303a;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile-bg-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet-bg.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet-bg-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-2x.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-title-color);
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero__btn {
  margin: 0 auto;
  padding: 10px 32px;
}

.features {
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 0;
  }
}

.features-list {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}
.features-list__item {
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .features-list__item {
    max-width: 354px;
    width: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list__item {
    max-width: 270px;
    width: calc(25% - 30px);
  }
}
.features-list__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .features-list__title {
    text-align: left;
  }
}
.features-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.features-list__pictures {
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.about-list {
  display: flex;
  margin-left: -30px;
}
.about-list__item {
  width: calc(33.3333333333% - 30px);
  margin-left: 30px;
}
.about-list__img {
  width: 370px;
  height: 294px;
}
.about-list__thumb {
  position: relative;
  display: flex;
  justify-content: center;
}
.about-list__thumb::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}
.about-list__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
  position: absolute;
  bottom: 27px;
}

.team {
  background-color: var(--team-bg-color);
}
.team .team__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team .team__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.team-list {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}
.team-list__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team-list__item {
    width: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    width: calc(25% - 30px);
  }
}
.team-list__img {
  width: 100%;
}
.team-list__content {
  padding: 30px 50px;
}
.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}
.team-list__position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.clients-list__item {
  width: 210px;
  height: 92px;
  width: calc(50% - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    width: 226px;
    width: calc(33.3333333333% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: 170px;
    width: calc(16.6666666667% - 30px);
  }
}
.clients-list__link {
  width: 100%;
  height: 92px;
  background-color: var(--main-bg-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--animation);
}
.clients-list__link:hover, .clients-list__link:focus {
  background-color: var(--primary-color);
  border: 1px solid var(--accent-color);
}
.clients-list__icon {
  fill: var(--icon-color);
}
.clients-list__link:hover .clients-list__icon {
  fill: var(--accent-color);
}
.clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
  }
}

.footer-main {
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-main {
    width: 232px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-main {
    text-align: left;
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.footer-logo {
  margin-bottom: 20px;
}
.footer-logo span {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .footer-logo {
    max-width: 231px;
  }
}

.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address__list {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .address__list {
    width: 231px;
  }
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__link {
  color: var(--primary-color);
  display: block;
}
.address__contact-link {
  color: rgba(255, 255, 255, 0.6);
  display: block;
  transition: var(--animation);
}
.address__contact-link:hover, .address__contact-link:focus {
  color: var(--accent-color);
}

.footer-join {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-join {
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-join {
    text-align: left;
    margin-right: 93px;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.subscription {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .subscription {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__form {
    display: flex;
  }
}
.subscription__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 20px;
}
.subscription__btn {
  margin: 0 auto;
  padding: 10px 29px;
}
@media screen and (min-width: 1200px) {
  .subscription__btn {
    display: flex;
    align-items: center;
  }
}
.subscription__icon {
  margin-left: 10px;
  fill: var(--primary-color);
}
.subscription__input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  position: relative;
  outline: none;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .subscription__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__input {
    width: 358px;
    margin-bottom: 0;
  }
}

.button-filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .button-filter {
    margin-bottom: 30px;
    justify-content: center;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1200px) {
  .button-filter {
    margin-bottom: 50px;
  }
}
.button-filter__item {
  display: flex;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .button-filter__item {
    margin-bottom: 0;
  }
}
.button-filter__item:not(:last-child) {
  margin-right: 8px;
}
.button-filter__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0;
  background-color: var(--first-btn-color);
  padding: 6px 22px;
  border-radius: 4px;
  transition: var(--animation);
}
.button-filter__btn:hover, .button-filter__btn:focus {
  color: var(--primary-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .projects-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}
.projects-list__item {
  background-color: #ffffff;
  margin-bottom: 30px;
  transition: var(--animation);
}
.projects-list__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .projects-list__item {
    width: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .projects-list__item {
    width: calc(33.3333333333% - 30px);
  }
}

.cover-wrap {
  position: relative;
  overflow: hidden;
}
.cover-wrap__img {
  width: 100%;
}
.cover-wrap__text {
  position: absolute;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 24px;
  display: flex;
  align-items: center;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--animation);
  overflow: auto;
}
.projects-list__item:hover .cover-wrap__text {
  transform: translateY(0%);
}

.card-content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.card-content__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}
.card-content__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}/*# sourceMappingURL=main.css.map */