@import "./utils/variables";
@import "./base/reset";
@import "./utils/hidden";
@import "./base/common";
@import "./utils/mixins";

@import "./components/container";
@import "./components/section";
@import "./components/logo";
@import "./components/btn";
@import "./components/social";
@import "./components/backdrop";
@import "./components/modal";

@import "./layout/header";
@import "./layout/hero";
@import "./layout/features";
@import "./layout/about";
@import "./layout/team";
@import "./layout/clients";
@import "./layout/footer";
@import "./layout/btn-filter";
@import "./layout/projests";
