.about__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.about-list {
  display: flex;
  margin-left: -30px;
  &__item {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
  &__img {
    width: 370px;
    height: 294px;
  }
  &__thumb {
    position: relative;
    display: flex;
    justify-content: center;
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 70px;
      bottom: 0;
      background-color: rgba(47, 48, 58, 0.8);
    }
  }

  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-color);

    position: absolute;
    bottom: 27px;
  }
}
