.projects-list {
  margin-bottom: -30px;
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  &__link {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__item {
    background-color: #ffffff;
    margin-bottom: 30px;
    transition: var(--animation);
    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    @include tablet {
      width: calc(100% / 2 - 30px);
      margin-left: 30px;
    }
    @include decktop {
      width: calc(100% / 3 - 30px);
    }
  }
}

.cover-wrap {
  position: relative;
  overflow: hidden;

  &__img {
    width: 100%;
  }

  &__text {
    position: absolute;
    top: 0;
    background-color: rgba(33, 150, 243, 0.9);
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    padding: 24px;
    display: flex;
    align-items: center;
    height: 100%;
    transform: translateY(100%);
    transition: transform var(--animation);
    overflow: auto;
    .projects-list__item:hover & {
      transform: translateY(0%);
    }
  }
}

.card-content {
  flex-grow: 1;
  padding: 20px 24px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;

  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    margin-bottom: 4px;
  }

  &__text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
  }
}
