.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  display: block;
  @include decktop {
    font-size: 26px;
    line-height: 1.19;
  }

  &--light {
    color: var(--primary-color);
  }

  &--dark {
    color: #000;
  }
}
