.modal {
  position: absolute;
  width: 100%;
  min-height: 609px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;

  @include mobile {
    width: 450px;
    min-height: 609px;
  }

  @include decktop {
    width: 528px;
    min-height: 581px;
  }
}

.modal__btn {
  margin: 0 auto;
  padding: 10px 55px;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal__close-icon {
  fill: #000;
  transition: transform var(--animation);

  &:hover {
    fill: var(--accent-color);
  }
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
  @include decktop {
    line-height: 1.15;
  }
}

.form {
  &__field {
    margin-bottom: 10px;
  }
  &__label {
    display: block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
    margin-bottom: 4px;
  }

  &__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 15px;
    outline: none;
    padding-left: 42px;
    transition: border-color var(--animation);

    &:focus {
      border-color: var(--accent-color);
    }
  }

  &__wrap {
    position: relative;
  }

  &__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill var(--animation);

    .form__input:focus + & {
      fill: var(--accent-color);
    }
  }
}

.comment {
  &__label {
    display: block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
    margin-bottom: 4px;
  }

  &__textarea {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
    outline: none;
    margin-bottom: 20px;

    &::placeholder {
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }
  }
}

.checkbox {
  margin-bottom: 30px;

  &__text {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    @include decktop {
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      align-items: center;
    }
  }

  &__icon {
    display: flex;
    align-items: center;

    &--enabled {
      display: none;
      margin-right: 7px;
    }

    &--disabled {
      margin-right: 7px;
    }
  }
}

.checkbox__input:focus + .checkbox__text span {
  fill: var(--accent-color);
}

.checkbox__input:checked + .checkbox__text .checkbox__icon--enabled {
  display: block;
}

.checkbox__input:checked + .checkbox__text .checkbox__icon--disabled {
  display: none;
}

.policy-link {
  margin-left: 4px;
  color: var(--accent-color);
}
