.soc-list {
  display: flex;
  justify-content: center;
}

.soc-list__item + .soc-list__item {
  margin-left: 10px;
}

.soc-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--animation);
}

.soc-list__link--light-bg {
  background-color: var(--main-bg-color);
}

.soc-list__link--dark-bg {
  background-color: rgba(255, 255, 255, 0.1);
}

.soc-list__icon--grey {
  fill: var(--icon-color);
}

.soc-list__icon--white {
  fill: var(--primary-color);
}

.soc-list__link:hover,
.soc-list__link:focus .soc-list__icon {
  background-color: var(--accent-color);
}

.soc-list__link:hover .soc-list__icon {
  fill: var(--primary-color);
}

.soc-list__link:focus .soc-list__icon {
  fill: var(--primary-color);
}
