:root {
  --main-bg-color: #ffffff;
  --header-color: #ffffff;
  --primary-text-color: #212121;
  --primary-color: #ffffff;
  --secondary-text-color: #757575;
  --hero-title-color: #ffffff;
  --team-bg-color: #f5f4fa;
  --first-btn-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --accent-color: #2196f3;
  --icon-color: #afb1b8;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
